{% extends "base.html" %}
{% block content %}
{%load staticfiles%}

<div class="jumbotron">
<div class="row">
  <div class="col-sm-6">
    <img src="{% static 'images/connecting.jpg'%}" alt="logo" align="left" width="450px"><br>
    </div>
   <div class="col-sm-6">
     <font size="3" color="black"><h2><b>Welcome to College Based Social Network!</b></h2><br>College Based Social Network provides the students of college to form a social networking platform among themselves, enabling them to connect with their seniors and juniors for sharing of information and resources. College Based Social Network is helpful to remove communication gap between seniors and juniors
     Its goal is to make a communication bridge between seniors and juniors .It provides user features to follow the students, send message to others.
     </font>
   </div>
</div>
</div>
{% endblock %}
